{% extends "blog/base.html" %}

<!DOCTYPE html >
<html lang="en">

<head>
    {% block title %}Blogy{% endblock %}
</head>
<body>

            {% block content %}
            {% for post in posts %}
            <h2 class="title"><a href="{{ post.get_absolute_url }}" class="link">{{ post.title }}</a></h2>
            <h5 class="date">Published {{ post.publish }} by {{ post.author }}</h5>
            <p class="content">{{ post.body|truncatewords:15|linebreaks }}</p>
            {% endfor %}
            {% include "pagination.html" with page=page_obj %}
            {% endblock %}
</body>
</html>